# server
SERVER_PORT=your_server_port

# Database
DB_HOST=your_db_host
DB_INTERNAL_PORT=your_db_internal_port
DB_EXTERNAL_PORT=your_db_external_port
DB_NAME=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# JWT
JWT_SECRET=your_jwt_secret
JWT_ACCESS_TOKEN_EXPIRE_MS=your_access_token_expire_ms
JWT_REFRESH_TOKEN_EXPIRE_MS=your_refresh_token_expire_ms

# GOOGLE
OAUTH_GOOGLE_CLIENT_ID=your_google_client_id
OAUTH_GOOGLE_CLIENT_SECRET=your_google_client_secret
OAUTH_GOOGLE_REDIRECT_URI=your_google_redirect_uri

# KAKAO
OAUTH_KAKAO_CLIENT_ID=your_kakao_rest_api_key
OAUTH_KAKAO_CLIENT_SECRET=your_kakao_client_secret
OAUTH_KAKAO_REDIRECT_URI=your_kakao_redirect_uri

# Redis
REDIS_HOST=your_redis_host
REDIS_INTERNAL_PORT=your_redis_internal_port
REDIS_EXTERNAL_PORT=your_redis_external_port
REDIS_PASSWORD=your_redis_password

# Valhalla
VALHALLA_URL=your_valhalla_host

# CITS_API
CITS_API_URL=seoul_cits_time_base_url
CITS_API_KEY=your_cits_api_key
CITS_STATE_API_URL=seoul_cits_state_base_url

# BUS_STOP_API
BUS_STOP_API_KEY=your_bus_stop_api_key
BUS_STOP_CITY_CODES=11,25,26,27,28,29,30,36,41,42,43,44,45,46,47,48,50

# SUBWAY_API
SUBWAY_API_KEY=your_seoul_open_data_api_key
SUBWAY_ARRIVAL_API_KEY=your_seoul_subway_arrival_api_key

# AI
AI_API_URL=your_ai_server_host

# AWS
REGISTRY=your_ecr_registry
ECR_REPOSITORY=your_ecr_repository